version: "3.9"
services:
  api:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - origin-os-api/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
